<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lihoo.ssm.dao.UserDao">
    <resultMap id="user" type="user">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="qq" column="qq"/>
        <result property="job" column="job"/>
        <result property="school" column="school"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="findAllUsers" resultMap="user">
        SELECT * FROM user
        <!--<if test="start!=null and count!=null">-->
            <!--limit #{start},#{count}-->
        <!--</if>-->
    </select>

    <select id="findUserById" parameterType="int" resultMap="user">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultMap="user">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <insert id="addUser" parameterType="com.lihoo.ssm.model.User">
        INSERT INTO user(username, qq, job, school, url)
        VALUES (#{username},#{qq},#{job},#{school},#{url})
    </insert>

    <delete id="deleteUser" parameterType="com.lihoo.ssm.model.User">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.lihoo.ssm.model.User">
        UPDATE user
        SET username = #{username}, qq = #{qq}, job = #{job}, school = #{school}, url = #{url}
        WHERE id = #{id}
    </update>



</mapper>